/*размер шрифта в таблице */
th {
    font-size: 12px;
}

td {
    font-size: 11px;
}

/*  Выравнивание текста в ячейке*/

.dt-head-left, .dt-body-left {
    text-align: left;
}

.dt-head-center, .dt-body-center {
    text-align: center;
}

.dt-head-right, .dt-body-right {
    text-align: right;
}

/* NAVBAR*/

.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar {
    min-height: 30px !important;
    margin-bottom: 0px !important;
}

.navbar-brand {
    height: 20px !important;
    padding: 4px 4px !important;
    /*line-height: 20px;*/
}

.navbar-blue {
    background-color: #3097d1;
    border-color: #1c73a5;
}

    .navbar-blue .navbar-brand {
        color: #fff;
    }

        .navbar-blue .navbar-brand:hover,
        .navbar-blue .navbar-brand:focus {
            color: #ddd;
            background-color: transparent;
        }

    .navbar-blue .navbar-text {
        color: #fff;
    }

    .navbar-blue .navbar-nav > li > a {
        color: #fff;
        font-size: 16px;
    }

        .navbar-blue .navbar-nav > li > a:hover,
        .navbar-blue .navbar-nav > li > a:focus {
            color: #ddd;
            background-color: transparent;
        }

    .navbar-blue .navbar-nav > .active > a,
    .navbar-blue .navbar-nav > .active > a:hover,
    .navbar-blue .navbar-nav > .active > a:focus {
        color: #ddd;
        background-color: #1c73a5;
    }

    .navbar-blue .navbar-nav > .disabled > a,
    .navbar-blue .navbar-nav > .disabled > a:hover,
    .navbar-blue .navbar-nav > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }

    .navbar-blue .navbar-toggle {
        border-color: #1c73a5;
    }

        .navbar-blue .navbar-toggle:hover,
        .navbar-blue .navbar-toggle:focus {
            background-color: #ddd;
        }

        .navbar-blue .navbar-toggle .icon-bar {
            background-color: #888;
        }

    .navbar-blue .navbar-collapse,
    .navbar-blue .navbar-form {
        border-color: #1c73a5;
    }

    .navbar-blue .navbar-nav > .open > a,
    .navbar-blue .navbar-nav > .open > a:hover,
    .navbar-blue .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: #1c73a5;
    }

/* Пагинация */
.paging_simple_numbers {
    font-size: 12px !important;
    text-align: center !important;
}

.pagination {
    margin: 0px !important;
    vertical-align: middle !important;
}

    .pagination > li > a {
        padding: 5px 11px !important;
    }

/* Инфо */
.dataTables_info {
    font-size: 12px !important;
    text-align: right !important;
}

/* Верхний тулбар */
.top-toolbar {
    padding-top: 5px;
}
/*Пустое пространство между кнопками в тулбаре*/
.btn-space {
    margin-right: 10px;
}

/* Выполнение */
.dataTables_processing {
    z-index: 1000;
}

/* TypeHead*/

.twitter-typeahead {
    display: block !important;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* used to be tt-dropdown-menu in older versions */
    width: 422px;
    margin-top: 35px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

    .tt-suggestion.tt-cursor, .tt-suggestion:hover {
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }

#scrollable-dropdown-menu .tt-menu {
    max-height: 250px;
    overflow-y: auto;
}

/* IE */

input[type=text]::-ms-clear {
    display: none;
}

/*Фильтр*/
.filter-field {
    font-size: 14px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 12px;
}

.filter-input {
    font-weight: bold !important;
}

td.details-control {
    background: url('../img/rowplus.png') no-repeat center center;
    cursor: pointer;
}

tr.details td.details-control {
    background: url('../img/rowminus.png') no-repeat center center;
}

/*Карточка*/
.card-modal-header {
    padding: 12px;
    border-bottom: 1px solid #e5e5e5;
}

.card-modal-header-msg {
    float: right;
    margin-top: 4px;
    margin-right: 22px;
    font-size: 12px;
}

.card-input {
    position: relative;
    width: 250px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.card-input-group {
    position: relative;
    /*display: table;*/
    width: 250px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.card-form-control {
    display: block;
    width: 100%;
    height: 27px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.card-input-group .card-form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
}

.has-error .card-form-control {
    border-color: #a94442;
}

.card-label {
    margin-bottom: 0px;
    display: table;
}

.has-error .card-label {
    color: #a94442;
}

.card-input-error {
    font-size: 12px;
    color: #a94442;
    display: table;
}

.card-modal-footer {
    padding-top: 13px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.card-modal-footer-left {
    float: left;
}

.card-modal-footer-right {
    float: right;
}

.tab-pane{
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 10px;
}

/* Кнопка загрузить*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.card-textarea{
    height:100%;
}