/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT
      [file]
     
  FROM [Archive].[dbo].[zao_stg_docversion]
  where del=0 and main=1 and id_archive in (661751,
661776,
661803,
661810,
661852,
661864,
661923,
662040,
662054,
662067,
662088,
662101,
662245,
662258,
662268,
662284,
662418,
662467,
662513,
662535,
662556,
663682,
663696,
663710,
663734,
663762,
663819,
663820,
663828,
663835,
663862,
663878,
663898,
663913,
663919,
663925,
663937,
663947,
663965,
663977,
663985,
663996,
664005,
664011,
664023,
664036,
664098,
664212,
664256,
664271,
664302,
664330,
664340,
664353,
664365,
664379,
664431,
664455,
664484,
664494,
664514)