/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT  'mkdir C:\down\'+CAST (a.id as nvarchar)+'\' 
  FROM [Archive].[dbo].[complect_archive] a
  left join [Archive].[dbo].[complect_docversion] b on b.id_archive=a.id and b.main=1 and b.del=0
  where a.id in (1403,1402,1401,1886,1886,1699,1699,1698,1698,1694,1694,2247,2247,2252,2252,2114,2118,2112,2116,2348,2343,2343,2346,2346,2529,2529,2529,2527,2525,2788,2793,2797,2807,2814,2810,2803,2713,2715,2912,2913,2915,2916,2920,3110,3095,3098,3013,3011,3009,3007,3005,3099,3015,3252,3318,3393,3338,3392,3815,3807,3805,3824,3359,3360,4061,4231,4229,4016,4013,4018,4010,4007,3958,3966,3972,3968,3974,3950,3952,3956,3954,3962,3960,4020,4141,4153,4153,4153,4069,4071,4075,4078,4087,4003,4001,3999,3995,4233,4201,4199,4197,4433,4563,4561,4561,4593,4593,4593,4529,4423,4543,4545,4547,4519,4495,4531,4501,4499,4533,4507,4541,4539,4537,4535,4525,4527,4773,4770,4769,4765,4759,4755,4751,4750,4743,4768,4573,4444,4426,4791,4827,4823,4825,4787,4833,4782,4800,4771,4503,4505,6868,7139,7139,7142,7142,7144,7151,7159,7111,7111,7118,7118,7123,7123,7131,7131,7133,7133,7076,7076,7078,7078,7082,7082,7129,7129,7042,7042,7046,7046,7057,7057,7126,7126,7063,7063,7043,7043,7049,7049,7155,7089,7058,7669,7467,7633,6946,6956,7001,6996,7009,6984,6995,6959,6954,6950,7006,4747,4555,4553,4459,7036,7036,7038,7038,7040,7040,5225,5232,5232,5232,8474,8475,9619,9619,7305,7305,10257,10194,10127,11006,10122,10146,10152,10156,10159,10164,10247,10255,10858,10991,10250,11005,10103,10117,10124,11013,10138,11009,11007,11012,6954,10057,10059,10064,10066,10068,10071,10088,10098,8944,8944,8944,652,650,648,1188,1188,1549,1549,1539,1539,1944,2062,2061,2244,2236,2137,2135,2125,2127,2121,2123,2245,2234,2235,2241,2241,2241,2242,2243,2239,2108,1954,1956,1958,2090,2375,2375,2359,2360,2361,2377,2358,2333,2349,2475,2495,2501,2501,2509,2511,2515,2517,2519,2493,2491,2489,2479,2481,2926,2926,2815,2732,2736,2740,2742,2450,2453,2452,2451,2454,2717,2721,2828,2939,2898,2888,3021,3101,3093,2641,2638,2635,2632,2629,2626,2623,2620,2617,2614,2611,2608,2605,2602,2599,2596,2677,2674,2671,2668,2665,2707,2680,2683,2686,2689,2692,2695,2698,2701,2704,2710,2644,2647,2650,2653,2656,2659,2662,3090,3336,2989,2989,2986,3857,3856,3860,3859,3855,3854,3858,3853,3852,3851,3833,3829,3799,3496,4242,4244,4248,4250,3213,3213,3213,3226,4035,3441,3276,3385,3326,3326,3326,3326,3326,4032,4036,3697,3695,3694,4724,4695,4693,4691,4178,4178,4171,4253,3907,3845,3843,3841,3839,3836,4961,5859,5859,5834,5813,5813,5815,5815,5817,5817,5819,5819,5822,5822,5824,5824,5749,5753,5747,5826,5829,5875,6096,5268,5268,5269,5269,5279,5279,5274,5274,5271,5271,5273,5273,5261,5263,6065,6079,6079,6063,6108,6089,6077,6077,6075,6075,6073,6073,6071,6071,6104,6104,5218,5221,5270,6639,6641,6640,6534,6534,6536,4729,6304,6032,6467,6467,6467,5474,6377,6377,6349,6345,6356,6356,6341,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6320,6320,6317,6317,6362,6362,7256,7083,8756,8749,8749,8749,8747,8747,8747,8751,8751,8751,6352,6352,6311,6359,6365,6365,5477,6374,6372,6372,5455,5455,6367,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,7255,7255,6544,6544,6933,6933,6931,6931,7449,7449,7455,7455,7453,7453,7453,7380,7376,7374,7372,7370,7368,7366,7362,7364,7378,7360,7356,7354,7451,7451,7491,7491,7489,7489,7493,7493,7348,7352,7350,7346,6539,6980,6975,6973,6971,8627,8628,8640,8637,7344,7358,7342,7342,7342,7342,7634,8070,7579,8121,7568,7568,7587,7560,7613,7613,8123,8123,8123,7602,7607,7607,8089,8089,8131,8131,8131,8127,8127,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8091,8135,8129,8129,8076,7544,7544,8117,8093,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8073,8067,8067,8067,7591,8087,8137,8137,7583,8133,8125,8125,8125,7546,8113,8113,8113,8113,8113,8113,8113,8113,8113,8113,8113,8119,7564,7617,7554,7626,7626,7556,7631,7631,7621,7562,7572,7624,7558,7577,7577,4191,4191,7662,7661,7704,8287,8291,8007,8007,8007,8081,7638,7642,7642,8097,8097,7640,8099,8095,7552,7550,7548,8059,8083,8085,8534,8535,8103,8105,8107,8109,8783,8783,8783,8783,8783,8780,8771,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9303,9288,9288,9288,9288,9288,9288,9286,9287,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9282,9282,9282,9282,9282,9282,9282,9282,9285,9285,9285,9308,9296,9296,9307,9307,9310,9310,9301,9297,9297,9284,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9313,9313,9313,9313,8774,8774,8774,8774,8774,8774,8774,8774,8774,8774,9299,9299,9299,9362,9362,9362,9362,9362,9362,9362,9362,9362,9316,9316,9316,9316,9316,9316,9316,9369,9369,9369,9369,9369,9369,9369,9369,9369,9369,9343,9343,9343,9343,9343,9343,8101,8101,8101,7216,7237,7234,7509,7509,7509,7611,7611,8826,8826,7474,7474,7474,7474,7474,7474,8795,11499,11499,11208,11503,11506,11508,12012,10518,9182,9179,9172,10970,12927,12928,10965,10964,13556,13556,13556,13556,14693,14693)
  or docpack in (
SELECT [docpack]  
  FROM [Archive].[dbo].[complect_archive]
  where docpack>0 and id in (1403,1402,1401,1886,1886,1699,1699,1698,1698,1694,1694,2247,2247,2252,2252,2114,2118,2112,2116,2348,2343,2343,2346,2346,2529,2529,2529,2527,2525,2788,2793,2797,2807,2814,2810,2803,2713,2715,2912,2913,2915,2916,2920,3110,3095,3098,3013,3011,3009,3007,3005,3099,3015,3252,3318,3393,3338,3392,3815,3807,3805,3824,3359,3360,4061,4231,4229,4016,4013,4018,4010,4007,3958,3966,3972,3968,3974,3950,3952,3956,3954,3962,3960,4020,4141,4153,4153,4153,4069,4071,4075,4078,4087,4003,4001,3999,3995,4233,4201,4199,4197,4433,4563,4561,4561,4593,4593,4593,4529,4423,4543,4545,4547,4519,4495,4531,4501,4499,4533,4507,4541,4539,4537,4535,4525,4527,4773,4770,4769,4765,4759,4755,4751,4750,4743,4768,4573,4444,4426,4791,4827,4823,4825,4787,4833,4782,4800,4771,4503,4505,6868,7139,7139,7142,7142,7144,7151,7159,7111,7111,7118,7118,7123,7123,7131,7131,7133,7133,7076,7076,7078,7078,7082,7082,7129,7129,7042,7042,7046,7046,7057,7057,7126,7126,7063,7063,7043,7043,7049,7049,7155,7089,7058,7669,7467,7633,6946,6956,7001,6996,7009,6984,6995,6959,6954,6950,7006,4747,4555,4553,4459,7036,7036,7038,7038,7040,7040,5225,5232,5232,5232,8474,8475,9619,9619,7305,7305,10257,10194,10127,11006,10122,10146,10152,10156,10159,10164,10247,10255,10858,10991,10250,11005,10103,10117,10124,11013,10138,11009,11007,11012,6954,10057,10059,10064,10066,10068,10071,10088,10098,8944,8944,8944,652,650,648,1188,1188,1549,1549,1539,1539,1944,2062,2061,2244,2236,2137,2135,2125,2127,2121,2123,2245,2234,2235,2241,2241,2241,2242,2243,2239,2108,1954,1956,1958,2090,2375,2375,2359,2360,2361,2377,2358,2333,2349,2475,2495,2501,2501,2509,2511,2515,2517,2519,2493,2491,2489,2479,2481,2926,2926,2815,2732,2736,2740,2742,2450,2453,2452,2451,2454,2717,2721,2828,2939,2898,2888,3021,3101,3093,2641,2638,2635,2632,2629,2626,2623,2620,2617,2614,2611,2608,2605,2602,2599,2596,2677,2674,2671,2668,2665,2707,2680,2683,2686,2689,2692,2695,2698,2701,2704,2710,2644,2647,2650,2653,2656,2659,2662,3090,3336,2989,2989,2986,3857,3856,3860,3859,3855,3854,3858,3853,3852,3851,3833,3829,3799,3496,4242,4244,4248,4250,3213,3213,3213,3226,4035,3441,3276,3385,3326,3326,3326,3326,3326,4032,4036,3697,3695,3694,4724,4695,4693,4691,4178,4178,4171,4253,3907,3845,3843,3841,3839,3836,4961,5859,5859,5834,5813,5813,5815,5815,5817,5817,5819,5819,5822,5822,5824,5824,5749,5753,5747,5826,5829,5875,6096,5268,5268,5269,5269,5279,5279,5274,5274,5271,5271,5273,5273,5261,5263,6065,6079,6079,6063,6108,6089,6077,6077,6075,6075,6073,6073,6071,6071,6104,6104,5218,5221,5270,6639,6641,6640,6534,6534,6536,4729,6304,6032,6467,6467,6467,5474,6377,6377,6349,6345,6356,6356,6341,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6320,6320,6317,6317,6362,6362,7256,7083,8756,8749,8749,8749,8747,8747,8747,8751,8751,8751,6352,6352,6311,6359,6365,6365,5477,6374,6372,6372,5455,5455,6367,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,7255,7255,6544,6544,6933,6933,6931,6931,7449,7449,7455,7455,7453,7453,7453,7380,7376,7374,7372,7370,7368,7366,7362,7364,7378,7360,7356,7354,7451,7451,7491,7491,7489,7489,7493,7493,7348,7352,7350,7346,6539,6980,6975,6973,6971,8627,8628,8640,8637,7344,7358,7342,7342,7342,7342,7634,8070,7579,8121,7568,7568,7587,7560,7613,7613,8123,8123,8123,7602,7607,7607,8089,8089,8131,8131,8131,8127,8127,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8091,8135,8129,8129,8076,7544,7544,8117,8093,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8073,8067,8067,8067,7591,8087,8137,8137,7583,8133,8125,8125,8125,7546,8113,8113,8113,8113,8113,8113,8113,8113,8113,8113,8113,8119,7564,7617,7554,7626,7626,7556,7631,7631,7621,7562,7572,7624,7558,7577,7577,4191,4191,7662,7661,7704,8287,8291,8007,8007,8007,8081,7638,7642,7642,8097,8097,7640,8099,8095,7552,7550,7548,8059,8083,8085,8534,8535,8103,8105,8107,8109,8783,8783,8783,8783,8783,8780,8771,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9303,9288,9288,9288,9288,9288,9288,9286,9287,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9282,9282,9282,9282,9282,9282,9282,9282,9285,9285,9285,9308,9296,9296,9307,9307,9310,9310,9301,9297,9297,9284,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9313,9313,9313,9313,8774,8774,8774,8774,8774,8774,8774,8774,8774,8774,9299,9299,9299,9362,9362,9362,9362,9362,9362,9362,9362,9362,9316,9316,9316,9316,9316,9316,9316,9369,9369,9369,9369,9369,9369,9369,9369,9369,9369,9343,9343,9343,9343,9343,9343,8101,8101,8101,7216,7237,7234,7509,7509,7509,7611,7611,8826,8826,7474,7474,7474,7474,7474,7474,8795,11499,11499,11208,11503,11506,11508,12012,10518,9182,9179,9172,10970,12927,12928,10965,10964,13556,13556,13556,13556,14693,14693))
  union all
  SELECT 'copy \\SKY-SP-SQL1.STG.LAN\ArchiveScanFiles$\complect\archive\'+b.[file]+' C:\down\'+CAST (a.docpack as nvarchar)+'\' 
  FROM [Archive].[dbo].[complect_archive] a
  left join [Archive].[dbo].[complect_docversion] b on b.id_archive=a.id and b.main=1 and b.del=0
  where a.id in (1403,1402,1401,1886,1886,1699,1699,1698,1698,1694,1694,2247,2247,2252,2252,2114,2118,2112,2116,2348,2343,2343,2346,2346,2529,2529,2529,2527,2525,2788,2793,2797,2807,2814,2810,2803,2713,2715,2912,2913,2915,2916,2920,3110,3095,3098,3013,3011,3009,3007,3005,3099,3015,3252,3318,3393,3338,3392,3815,3807,3805,3824,3359,3360,4061,4231,4229,4016,4013,4018,4010,4007,3958,3966,3972,3968,3974,3950,3952,3956,3954,3962,3960,4020,4141,4153,4153,4153,4069,4071,4075,4078,4087,4003,4001,3999,3995,4233,4201,4199,4197,4433,4563,4561,4561,4593,4593,4593,4529,4423,4543,4545,4547,4519,4495,4531,4501,4499,4533,4507,4541,4539,4537,4535,4525,4527,4773,4770,4769,4765,4759,4755,4751,4750,4743,4768,4573,4444,4426,4791,4827,4823,4825,4787,4833,4782,4800,4771,4503,4505,6868,7139,7139,7142,7142,7144,7151,7159,7111,7111,7118,7118,7123,7123,7131,7131,7133,7133,7076,7076,7078,7078,7082,7082,7129,7129,7042,7042,7046,7046,7057,7057,7126,7126,7063,7063,7043,7043,7049,7049,7155,7089,7058,7669,7467,7633,6946,6956,7001,6996,7009,6984,6995,6959,6954,6950,7006,4747,4555,4553,4459,7036,7036,7038,7038,7040,7040,5225,5232,5232,5232,8474,8475,9619,9619,7305,7305,10257,10194,10127,11006,10122,10146,10152,10156,10159,10164,10247,10255,10858,10991,10250,11005,10103,10117,10124,11013,10138,11009,11007,11012,6954,10057,10059,10064,10066,10068,10071,10088,10098,8944,8944,8944,652,650,648,1188,1188,1549,1549,1539,1539,1944,2062,2061,2244,2236,2137,2135,2125,2127,2121,2123,2245,2234,2235,2241,2241,2241,2242,2243,2239,2108,1954,1956,1958,2090,2375,2375,2359,2360,2361,2377,2358,2333,2349,2475,2495,2501,2501,2509,2511,2515,2517,2519,2493,2491,2489,2479,2481,2926,2926,2815,2732,2736,2740,2742,2450,2453,2452,2451,2454,2717,2721,2828,2939,2898,2888,3021,3101,3093,2641,2638,2635,2632,2629,2626,2623,2620,2617,2614,2611,2608,2605,2602,2599,2596,2677,2674,2671,2668,2665,2707,2680,2683,2686,2689,2692,2695,2698,2701,2704,2710,2644,2647,2650,2653,2656,2659,2662,3090,3336,2989,2989,2986,3857,3856,3860,3859,3855,3854,3858,3853,3852,3851,3833,3829,3799,3496,4242,4244,4248,4250,3213,3213,3213,3226,4035,3441,3276,3385,3326,3326,3326,3326,3326,4032,4036,3697,3695,3694,4724,4695,4693,4691,4178,4178,4171,4253,3907,3845,3843,3841,3839,3836,4961,5859,5859,5834,5813,5813,5815,5815,5817,5817,5819,5819,5822,5822,5824,5824,5749,5753,5747,5826,5829,5875,6096,5268,5268,5269,5269,5279,5279,5274,5274,5271,5271,5273,5273,5261,5263,6065,6079,6079,6063,6108,6089,6077,6077,6075,6075,6073,6073,6071,6071,6104,6104,5218,5221,5270,6639,6641,6640,6534,6534,6536,4729,6304,6032,6467,6467,6467,5474,6377,6377,6349,6345,6356,6356,6341,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6320,6320,6317,6317,6362,6362,7256,7083,8756,8749,8749,8749,8747,8747,8747,8751,8751,8751,6352,6352,6311,6359,6365,6365,5477,6374,6372,6372,5455,5455,6367,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,7255,7255,6544,6544,6933,6933,6931,6931,7449,7449,7455,7455,7453,7453,7453,7380,7376,7374,7372,7370,7368,7366,7362,7364,7378,7360,7356,7354,7451,7451,7491,7491,7489,7489,7493,7493,7348,7352,7350,7346,6539,6980,6975,6973,6971,8627,8628,8640,8637,7344,7358,7342,7342,7342,7342,7634,8070,7579,8121,7568,7568,7587,7560,7613,7613,8123,8123,8123,7602,7607,7607,8089,8089,8131,8131,8131,8127,8127,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8091,8135,8129,8129,8076,7544,7544,8117,8093,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8073,8067,8067,8067,7591,8087,8137,8137,7583,8133,8125,8125,8125,7546,8113,8113,8113,8113,8113,8113,8113,8113,8113,8113,8113,8119,7564,7617,7554,7626,7626,7556,7631,7631,7621,7562,7572,7624,7558,7577,7577,4191,4191,7662,7661,7704,8287,8291,8007,8007,8007,8081,7638,7642,7642,8097,8097,7640,8099,8095,7552,7550,7548,8059,8083,8085,8534,8535,8103,8105,8107,8109,8783,8783,8783,8783,8783,8780,8771,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9303,9288,9288,9288,9288,9288,9288,9286,9287,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9282,9282,9282,9282,9282,9282,9282,9282,9285,9285,9285,9308,9296,9296,9307,9307,9310,9310,9301,9297,9297,9284,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9313,9313,9313,9313,8774,8774,8774,8774,8774,8774,8774,8774,8774,8774,9299,9299,9299,9362,9362,9362,9362,9362,9362,9362,9362,9362,9316,9316,9316,9316,9316,9316,9316,9369,9369,9369,9369,9369,9369,9369,9369,9369,9369,9343,9343,9343,9343,9343,9343,8101,8101,8101,7216,7237,7234,7509,7509,7509,7611,7611,8826,8826,7474,7474,7474,7474,7474,7474,8795,11499,11499,11208,11503,11506,11508,12012,10518,9182,9179,9172,10970,12927,12928,10965,10964,13556,13556,13556,13556,14693,14693)
  or docpack in (
SELECT [docpack]  
  FROM [Archive].[dbo].[complect_archive]
  where docpack>0 and id in (1403,1402,1401,1886,1886,1699,1699,1698,1698,1694,1694,2247,2247,2252,2252,2114,2118,2112,2116,2348,2343,2343,2346,2346,2529,2529,2529,2527,2525,2788,2793,2797,2807,2814,2810,2803,2713,2715,2912,2913,2915,2916,2920,3110,3095,3098,3013,3011,3009,3007,3005,3099,3015,3252,3318,3393,3338,3392,3815,3807,3805,3824,3359,3360,4061,4231,4229,4016,4013,4018,4010,4007,3958,3966,3972,3968,3974,3950,3952,3956,3954,3962,3960,4020,4141,4153,4153,4153,4069,4071,4075,4078,4087,4003,4001,3999,3995,4233,4201,4199,4197,4433,4563,4561,4561,4593,4593,4593,4529,4423,4543,4545,4547,4519,4495,4531,4501,4499,4533,4507,4541,4539,4537,4535,4525,4527,4773,4770,4769,4765,4759,4755,4751,4750,4743,4768,4573,4444,4426,4791,4827,4823,4825,4787,4833,4782,4800,4771,4503,4505,6868,7139,7139,7142,7142,7144,7151,7159,7111,7111,7118,7118,7123,7123,7131,7131,7133,7133,7076,7076,7078,7078,7082,7082,7129,7129,7042,7042,7046,7046,7057,7057,7126,7126,7063,7063,7043,7043,7049,7049,7155,7089,7058,7669,7467,7633,6946,6956,7001,6996,7009,6984,6995,6959,6954,6950,7006,4747,4555,4553,4459,7036,7036,7038,7038,7040,7040,5225,5232,5232,5232,8474,8475,9619,9619,7305,7305,10257,10194,10127,11006,10122,10146,10152,10156,10159,10164,10247,10255,10858,10991,10250,11005,10103,10117,10124,11013,10138,11009,11007,11012,6954,10057,10059,10064,10066,10068,10071,10088,10098,8944,8944,8944,652,650,648,1188,1188,1549,1549,1539,1539,1944,2062,2061,2244,2236,2137,2135,2125,2127,2121,2123,2245,2234,2235,2241,2241,2241,2242,2243,2239,2108,1954,1956,1958,2090,2375,2375,2359,2360,2361,2377,2358,2333,2349,2475,2495,2501,2501,2509,2511,2515,2517,2519,2493,2491,2489,2479,2481,2926,2926,2815,2732,2736,2740,2742,2450,2453,2452,2451,2454,2717,2721,2828,2939,2898,2888,3021,3101,3093,2641,2638,2635,2632,2629,2626,2623,2620,2617,2614,2611,2608,2605,2602,2599,2596,2677,2674,2671,2668,2665,2707,2680,2683,2686,2689,2692,2695,2698,2701,2704,2710,2644,2647,2650,2653,2656,2659,2662,3090,3336,2989,2989,2986,3857,3856,3860,3859,3855,3854,3858,3853,3852,3851,3833,3829,3799,3496,4242,4244,4248,4250,3213,3213,3213,3226,4035,3441,3276,3385,3326,3326,3326,3326,3326,4032,4036,3697,3695,3694,4724,4695,4693,4691,4178,4178,4171,4253,3907,3845,3843,3841,3839,3836,4961,5859,5859,5834,5813,5813,5815,5815,5817,5817,5819,5819,5822,5822,5824,5824,5749,5753,5747,5826,5829,5875,6096,5268,5268,5269,5269,5279,5279,5274,5274,5271,5271,5273,5273,5261,5263,6065,6079,6079,6063,6108,6089,6077,6077,6075,6075,6073,6073,6071,6071,6104,6104,5218,5221,5270,6639,6641,6640,6534,6534,6536,4729,6304,6032,6467,6467,6467,5474,6377,6377,6349,6345,6356,6356,6341,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6315,6320,6320,6317,6317,6362,6362,7256,7083,8756,8749,8749,8749,8747,8747,8747,8751,8751,8751,6352,6352,6311,6359,6365,6365,5477,6374,6372,6372,5455,5455,6367,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,7255,7255,6544,6544,6933,6933,6931,6931,7449,7449,7455,7455,7453,7453,7453,7380,7376,7374,7372,7370,7368,7366,7362,7364,7378,7360,7356,7354,7451,7451,7491,7491,7489,7489,7493,7493,7348,7352,7350,7346,6539,6980,6975,6973,6971,8627,8628,8640,8637,7344,7358,7342,7342,7342,7342,7634,8070,7579,8121,7568,7568,7587,7560,7613,7613,8123,8123,8123,7602,7607,7607,8089,8089,8131,8131,8131,8127,8127,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8111,8091,8135,8129,8129,8076,7544,7544,8117,8093,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8115,8073,8067,8067,8067,7591,8087,8137,8137,7583,8133,8125,8125,8125,7546,8113,8113,8113,8113,8113,8113,8113,8113,8113,8113,8113,8119,7564,7617,7554,7626,7626,7556,7631,7631,7621,7562,7572,7624,7558,7577,7577,4191,4191,7662,7661,7704,8287,8291,8007,8007,8007,8081,7638,7642,7642,8097,8097,7640,8099,8095,7552,7550,7548,8059,8083,8085,8534,8535,8103,8105,8107,8109,8783,8783,8783,8783,8783,8780,8771,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9304,9303,9288,9288,9288,9288,9288,9288,9286,9287,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9079,9282,9282,9282,9282,9282,9282,9282,9282,9285,9285,9285,9308,9296,9296,9307,9307,9310,9310,9301,9297,9297,9284,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9283,9313,9313,9313,9313,8774,8774,8774,8774,8774,8774,8774,8774,8774,8774,9299,9299,9299,9362,9362,9362,9362,9362,9362,9362,9362,9362,9316,9316,9316,9316,9316,9316,9316,9369,9369,9369,9369,9369,9369,9369,9369,9369,9369,9343,9343,9343,9343,9343,9343,8101,8101,8101,7216,7237,7234,7509,7509,7509,7611,7611,8826,8826,7474,7474,7474,7474,7474,7474,8795,11499,11499,11208,11503,11506,11508,12012,10518,9182,9179,9172,10970,12927,12928,10965,10964,13556,13556,13556,13556,14693,14693))

