/****** Script for SelectTopNRows command from SSMS  ******/
use [Archive]
--SELECT [id]
--  FROM [dbo].[zao_stg_archive]
--  WHERE id in (16709,199657,199659,201240,209827,232093,246031,341744,371538,376574,391444,392109,399338,408589,409774,409826,426074,427662,427673,431755,446305,455286,455293,462839,462845,462848,462868,462871,462878,462883,462912,462924,462928,462934,462939,463004,467594,475546,476341,477185,477795,477844,479818,483785,488803,490039,491918,495301,498382,498387,498393,498405,498410,499427,501452,515628,516179,516183,516185,526438,530599,535283,548150,548634,555244,566747,566840,568296,591847,597966,599236,623195,623566,623567,643860,648301,651903,651908,651917,651925,652962,653227,660771,660777,676832,677101,677182,677687,677907,677917,678462,678493,678526,678529,681143,690148,691755,693784,698582,702126,729115,731932,732690,740687,740768,740807,740818,749996,757262,757269,768914,768943,777195,790235,792422,792761,792767,793774,794557,799241,806945,808291,808408,808482,808506,808611,808619,808626,811089,811114,818478,829618,831240,831673,831704,833222,833417,833926,836167,847832,847846,847874,847892,847900,847912,847929,847940,847955,847975,850739,850942,851033,853245,853583,856647,867735,870367,870373,871240,872684,877164,882876,889550,890421,890443,890645,891720,896994,908914,908992,909009,909095,909112,909134,909149,909231,909247,921204,929656,929675,929700,932588,933894,934859,938782,939165,939302,939662,939912,943588,953665,953796,955632,955656,955660,956196,962148,962157,962170,962608,962797,963418,963423,963425,963457,963500,963525,963540,963547,963556,963565,963569,963587,963591,963600,964002,964017,964027,964100,966354,966372,966607,966621,967141,975051,975767,975780,975791,975803,975808,975810,975814,975856,982977,983328,983403,983479,983507,984153,984418,984529,984670,985752,985755,987800,993089,993178,1000693,1012825,1012829,1012832,1033719,1040405,1065925,1071867,1071874,1071877,1071882,1071917,1072258,1072260,1072264,1072577,1072581,1077565,1080328)
--  ORDER BY id


  INSERT INTO [dbo].[_monitor] ([id_archive],[num_doc],[date_doc],[id_frm_contr],[summ],[id_doctree],[id_doctype],[id_base], [perf], [id_status_ver], [id_user])
SELECT a.[id],
       a.[num_doc],
       a.[date_doc],
       a.[id_frm_contr],
       a.[summ],
       a.[id_doctree],
       a.[id_doctype],
       1,
       ISNULL(p.[name],''),
       b.[id_status],
       0
FROM [dbo].[zao_stg_archive] a
LEFT JOIN [dbo].[zao_stg_docversion] b ON b.id_archive=a.id
AND b.main=1
AND b.del=0
LEFT JOIN [dbo].[zao_stg_person] p ON a.id_perf=p.id
WHERE a.del=0 and 
a.id in (16709,199657,199659,201240,209827,232093,246031,341744,371538,376574,391444,392109,399338,408589,409774,409826,426074,427662,427673,431755,446305,455286,455293,462839,462845,462848,462868,462871,462878,462883,462912,462924,462928,462934,462939,463004,467594,475546,476341,477185,477795,477844,479818,483785,488803,490039,491918,495301,498382,498387,498393,498405,498410,499427,501452,515628,516179,516183,516185,526438,530599,535283,548150,548634,555244,566747,566840,568296,591847,597966,599236,623195,623566,623567,643860,648301,651903,651908,651917,651925,652962,653227,660771,660777,676832,677101,677182,677687,677907,677917,678462,678493,678526,678529,681143,690148,691755,693784,698582,702126,729115,731932,732690,740687,740768,740807,740818,749996,757262,757269,768914,768943,777195,790235,792422,792761,792767,793774,794557,799241,806945,808291,808408,808482,808506,808611,808619,808626,811089,811114,818478,829618,831240,831673,831704,833222,833417,833926,836167,847832,847846,847874,847892,847900,847912,847929,847940,847955,847975,850739,850942,851033,853245,853583,856647,867735,870367,870373,871240,872684,877164,882876,889550,890421,890443,890645,891720,896994,908914,908992,909009,909095,909112,909134,909149,909231,909247,921204,929656,929675,929700,932588,933894,934859,938782,939165,939302,939662,939912,943588,953665,953796,955632,955656,955660,956196,962148,962157,962170,962608,962797,963418,963423,963425,963457,963500,963525,963540,963547,963556,963565,963569,963587,963591,963600,964002,964017,964027,964100,966354,966372,966607,966621,967141,975051,975767,975780,975791,975803,975808,975810,975814,975856,982977,983328,983403,983479,983507,984153,984418,984529,984670,985752,985755,987800,993089,993178,1000693,1012825,1012829,1012832,1033719,1040405,1065925,1071867,1071874,1071877,1071882,1071917,1072258,1072260,1072264,1072577,1072581,1077565,1080328)
  